@charset "utf-8"
@import 'bulma'
@import 'bulma-extensions'
@import "bulma-calendar/dist/css/bulma-calendar.min"

html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
